20-06_ws_fault_service/wsdl/HelloFaultService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://hello.ws.ee.it.mufg.jp/" name="HelloFaultService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://hello.ws.ee.it.mufg.jp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hello.ws.ee.it.mufg.jp/" schemaLocation="HelloFaultService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="doBusiness">
    <part name="parameters" element="tns:doBusiness"/>
  </message>
  <message name="doBusinessResponse">
    <part name="parameters" element="tns:doBusinessResponse"/>
  </message>
  <message name="BusinessException">
    <part name="fault" element="tns:BusinessException"/>
  </message>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="FooException">
    <part name="fault" element="tns:FooException"/>
  </message>
  <portType name="HelloFaultServicePortType">
    <operation name="doBusiness">
      <input wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/doBusinessRequest" message="tns:doBusiness"/>
      <output wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/doBusinessResponse" message="tns:doBusinessResponse"/>
      <fault message="tns:BusinessException" name="BusinessException" wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/doBusiness/Fault/BusinessException"/>
    </operation>
    <operation name="sayHello">
      <input wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/sayHelloRequest" message="tns:sayHello"/>
      <output wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/sayHelloResponse" message="tns:sayHelloResponse"/>
      <fault message="tns:FooException" name="FooException" wsam:Action="http://hello.ws.ee.it.mufg.jp/HelloFaultServicePortType/sayHello/Fault/FooException"/>
    </operation>
  </portType>
  <binding name="HelloFaultServicePortTypePortBinding" type="tns:HelloFaultServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="doBusiness">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BusinessException">
        <soap:fault name="BusinessException" use="literal"/>
      </fault>
    </operation>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FooException">
        <soap:fault name="FooException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HelloFaultService">
    <port name="HelloFaultServicePortTypePort" binding="tns:HelloFaultServicePortTypePortBinding">
      <soap:address location="http://localhost:8080/ws_fault_service/HelloFaultService"/>
    </port>
  </service>
</definitions>

